html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {outline: none !important;
}
html{
<<<<<<< HEAD
    background:#EFF1F3;
=======
    background:#666666;
>>>>>>> 549418614833c8e5b4d8caf88e6746fdc1fb1760
}
@font-face {
    font-family: SegoeUI;
    src: url(../fonts/segoeuil.ttf);
}
body{
    font-family: 'SegoeUI', 'sans-serif';
}

.header {
<<<<<<< HEAD
    width: 100%;
    overflow: hidden;
    height: 100%;
    
=======
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
>>>>>>> 549418614833c8e5b4d8caf88e6746fdc1fb1760
}

.logo-group {
    padding-right: 0vw;
    margin-top: 0vw;
    padding-top: 1vw;
    padding-bottom: 10px;
}

.logo {
<<<<<<< HEAD
    height: 6vw;
    width: 6vw;
=======
    height: 10vw;
    width: 10vw;
>>>>>>> 549418614833c8e5b4d8caf88e6746fdc1fb1760
    align-content: center;
}

.name-group {
    margin-top: 0vw;
    padding-left: 1vw;
    padding-top: 1vw;
}

.abbrev {
    margin-top: 0vw;
<<<<<<< HEAD
    margin-bottom: 0vw;
=======
    margin-bottom: 1vw;
>>>>>>> 549418614833c8e5b4d8caf88e6746fdc1fb1760
}

.full {
    margin-top: 0vw;
    margin-left: 0.2vw;
}

.ver {
    margin-top: 0vw;
<<<<<<< HEAD
    margin-left: 0.4vw;
=======
    margin-left: 0.5vw;
>>>>>>> 549418614833c8e5b4d8caf88e6746fdc1fb1760
}

.user-group {
    padding-left: 0px;
}

.user-image {
    padding-top: 20px;
    height: 50%;
    width: 100%;
}

.user-name {
<<<<<<< HEAD
    /*margin-top: 10px;*/
}

.user-position {
    /*margin-top: 0px;*/
}

.body {
    background-color: #EFF1F3;
=======
    margin-top: 10px;
}

.user-position {
    margin-top: 0px;
}

.body {
    background-color: #666666;
>>>>>>> 549418614833c8e5b4d8caf88e6746fdc1fb1760
}

.footersize {
    height: auto;
    margin: auto auto -2vw;
<<<<<<< HEAD
}

.left{
    padding-right: 0vw;
    margin-top: 0vw;
    padding-top: 1vw;
    padding-bottom: 10px;
}

.center{
    margin-top: 0vw;
    padding-left: 1vw;
    padding-top: 1vw;
}

.right{
     padding-left: 0px;   
}
=======
}
>>>>>>> 549418614833c8e5b4d8caf88e6746fdc1fb1760
