{% extends "base2.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu_overlay.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_client_overlay.css' %}">
    <link rel="icon" type="image/png" href="{% static 'site_images/logo_bw.jpg' %}" sizes="18x16">
{% endblock %}

{% block content %}
<title>VAMPS|Admin</title>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-list" id="menu">
                <li class="sidebar-brand">
                    <a>
                        Admin's Menu
                    </a>
                </li>
                <li>
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu1"><span class="nav-header-primary">Users
                    <span class="pull-right"><b class="caret"></b></span></span></a>

                    <ul class="nav nav-list collapse" id="submenu1">
                        <li href="#menu-toggle">
                            <a href="/register/">Add New User</a>
                        </li>
                        <li>
                            <a href="/user-lists/">View Members</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu2"><span class="nav-header-primary">Loans
                    <span class="pull-right"><b class="caret"></b></span></span></a>

                    <ul class="nav nav-list collapse" id="submenu2">
                        <li>
                            <a href="#">Add New Loan Application</a>
                        </li>
                        <li>
                            <a href="#">View Balances</a>
                        </li>
                        <li>
                            <a href="#">View All Loans</a>
                        </li>

                    </ul>
                    <button type="button" onclick="window.location.href='/logout/' ">Logout</button>

                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                <h1>Welcome {{ user.position }}!</h1>
                                <p>This is your main menu. You can choose what you want to do from the left side panel of the screen</p>
                                <p>To show/hide the menu, use the button below. For some help, click <code>HELP TOPICS</code></p>
                            </div>
                            <div class="tab-pane fade" id="newUser">
                                <div class="login-page">
                                    <div class="form">
                                        {% if error %}
                                        <p class="alert alert-danger">{{ error }}</p>
                                        {% endif %}

                                        <form class="login-form" method="POST" action="">
                                        {% csrf_token %}  
                                            <input class="form-control" type="text" placeholder="Username" name="fname" required>  
                                            <input class="form-control" type="email" placeholder="Email" name="email" required>
                                            <input class="form-control" type="password" placeholder="Password" name="pword" required>
                                            <input class="form-control" type="password" placeholder="Password (again)" name="pword2" required>
                                            <a href="#" class="accordion-heading btn btn-secondary" data-toggle="collapse" data-target="#posi" aria-haspop="true" aria-expanded="false">Position</a>

                                            <ul class="nav nav-list collapse" id="posi">
                                                <li>
                                                    <input type="radio" name="pos" value="Cashier">Cashier</input>
                                                </li>
                                                <li>
                                                    <input type="radio" name="pos" value="Bookkeeper">Bookkeeper</input>
                                                </li>
                                            </ul>

                                            <div class="buttoncolor"><input type=submit value="Register" name="reg"></div>

                                            <a href="{% url 'admin_page' %}">Cancel</a>

                                        </form>
                                    </div>
                                </div>    
                            </div>
                            <div class="tab-pane fade" id="viewMem">
                                
                            </div>
                        </div>
                    <div>
                        
                        <div class="buttoncolor">
                            <a href="#menu-toggle" class="btn" id="menu-toggle">Main Menu</a>

                            <a href="#" class="btn btn2">Help Topics</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script>
        $('#submenu1').bind('show',function(e){
            panelID = $(e.target).attr('href');
            src = $(panelID).attr('data-src');
            if($(panelID+"iframe").attr("src")=="")
            {
                $(panelID+"iframe").attr("src", src);
            }
        });
    </script>
    <script>
        $('#posi').bind('show',function(e){
            panelID = $(e.target).attr('href');
            src = $(panelID).attr('data-src');
            if($(panelID+"iframe").attr("src")=="")
            {
                $(panelID+"iframe").attr("src", src);
            }
        });
    </script>

{% endblock %}