{% extends "base2.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu_overlay.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_client_overlay.css' %}">
    <link rel="icon" type="image/png" href="{% static 'site_images/logo_bw.jpg' %}" sizes="18x16">
{% endblock %}

{% block content %}
<title>VAMPS|Admin</title>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-list" id="menu">
                <li class="sidebar-brand">
                    <a>
                        Admin's Menu
                    </a>
                </li>
                <li>
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu1"><span class="nav-header-primary">Users
                    <span class="pull-right"><b class="caret"></b></span></span></a>

                    <ul class="nav nav-list collapse" id="submenu1">
                        <li href="#menu-toggle">
                            <a href="/home/web-admin/register/">Add New User</a>
                        </li>
                        <li>
                            <a href="{% url 'users' %}">View Members</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu2"><span class="nav-header-primary">Client Services
                    <span class="pull-right"><b class="caret"></b></span></span></a>
                    <ul class="nav nav-list collapse" id="submenu2">
                        <li>
                            <a href="{% url 'add_new_client' %}">Add New Client</a>
                        </li>
                        <li>
                            <a href="{% url 'profile_search' %}">View Client Account</a>
                        </li>
                        <li>
                            <a href="{% url 'clients_list' %}">Client List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu3"><span class="nav-header-primary">Cashiering
                    <span class="pull-right"><b class="caret"></b></span></span></a>

                    <ul class="nav nav-list collapse" id="submenu3">
                        <li>
                            <a href="{% url 'pay_cbu_search' %}">Capital Contribution</a>
                        </li>
                        <li>
                            <a href="{% url 'loan_invoice' %}">Loan Payment</a>
                        </li>
                        <li>
                            <a href="{% url 'pay_maf_search' %}">MAF Contribution</a>
                        </li>
                        <li>
                            <a href="{% url 'pay_odf_search' %}">ODF Contribution</a>
                        </li>
                        <li>
                            <a href="{% url 'add_savings_search' %}">Savings Contribution</a>
                        </li>
                        <li>
                            <a href="{% url 'pay_structfee_search' %}">Restructuring Fee Payment</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu4"><span class="nav-header-primary">Releasing
                    <span class="pull-right"><b class="caret"></b></span></span></a>

                    <ul class="nav nav-list collapse" id="submenu4">
                        <li>
                            <a href="{% url 'release_maf_search' %}">MAF Release</a>
                        </li>
                        <li>
                            <a href="{% url 'release_odf_search' %}">ODF Withdrawal</a>
                        </li>
                        <li>
                            <a href="{% url 'release_savings_search' %}">Savings Withdrawal</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu5"><span class="nav-header-primary">Database
                    <span class="pull-right"><b class="caret"></b></span></span></a>

                    <ul class="nav nav-list collapse" id="submenu5">
                        <li href="#menu-toggle">
                            <a href="/admin/" target="_blank">Django View</a>
                        </li>
                        
                        <!-- <li>
                            <a href="/backup/" type="submit" value="submit">Backup</a>
                        </li> -->
                        
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <div class="tab-pane active" id="home">
                                <h1>Welcome {{ user.position }}!</h1>
                                <p>This is your main menu. You can choose what you want to do from the left side panel of the screen</p>
                                <p>To show/hide the menu, use the button below. For some help, click <code>HELP TOPICS</code></p>
                                <div class="help">
                                    <a href="#" class="btn btn-info">
                                        <i class="fa fa-question-circle fa-lg fa-fw"></i>
                                        Help Topics</a>
                                </div>
                                <div style="padding-top: 1vw;">
                                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                                        <i class="fa fa-menu fa-lg fa-fw"></i>Show/Hide Menu</a>
                                </div>
                            </div>
                            <br>
                            <thead>
                                <tr bgcolor="#d3d3d3">
                                    <th style="color:red;">Notifications</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for items in upList %}
                                <tr>
                                    <td align="left">
                                        <i style="color:red;" class="fa fa-exclamation-triangle fa-lg fa-fw"></i>
                                    </td>
                                    <td align="left">{{items}}</td>
                                    <td align="left">Due for update interest</td>
                                </tr>
                                {% endfor %}
                                {% for items in overList %}
                                <tr>
                                    <td align="left"><i style="color:red;" class="fa fa-exclamation-triangle fa-lg fa-fw"></i></td>
                                    <td align="left">{{items}}</td>
                                    <td align="left">Overdue Loan</td>
                                </tr>
                                {% endfor %}
                                {% for items in structList %}
                                <tr>
                                    <td align="left">
                                        <i style="color:red;" class="fa fa-exclamation-triangle fa-lg fa-fw"></i>
                                    </td>
                                    <td align="left">{{items}}</td>
                                    <td align="left">Restructuring Fee not yet Paid</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock %}