{% extends "base2.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %} VAMPS|Log In {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_client_overlay.css' %}">
    <link rel="icon" type="image/png" href="{% static 'site_images/logo_bw.jpg' %}" sizes="18x16">
{% endblock%}

{% block content %}
<title>VAMPS|Add New Client</title>

<div class="login-page">
    <div class="form" >
    <div>
        <h3>Add New Client Form</h3>
    </div>
        {% if error %}
          <p class="alert alert-danger">
          <i class="fa fa-exclamation-triangle fa-lg"></i>{{ error }}</p>
        {% else %}
          <p class="alert alert-success">
          <i class="fa fa-check-circle fa-lg"></i>{{ success }} </p>
        {% endif %}
        <form method="POST" action="" onkeypress="return alpha(event)" class="no-spinners uniForm login-form" enctype="multipart/form-data">
        <!-- <form method="POST" action="" onkeypress="return alpha(event)"> -->
         {% csrf_token %}  
         {{ form|crispy }}

         <!-- <br> -->
         <!-- <input type="submit" value="Add Client" class="no-spinners btn btn-info" /> -->
            <br>
            <button type="submit" class="btn btn-info">
                <i class="fa fa-check-square fa-lg"></i>
                Add Client
            </button>
        </form>
      </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Menu Toggle Script -->
// <script>
    // $("#menu-toggle").click(function(e) {
        // e.preventDefault();
        // $("#IDmenu").toggleClass("toggled");
    // });
// </script>
// <script>
    // $("#menu-toggle").click(function(e) {
        // e.preventDefault();
        // $("#MEMtype").toggleClass("toggled");
    // });
// </script>
// <script>
    // $("#menu-toggle").click(function(e) {
        // e.preventDefault();
        // $("#CIVstat").toggleClass("toggled");
    // });
// </script>

<script>

var text = document.getElementById('id_client_odf');
text.onkeypress = text.onpaste = checkInput;

function checkInput(e) {
    var e = e || event;
    var char = e.type == 'keypress' 
        ? String.fromCharCode(e.keyCode || e.which) 
        : (e.clipboardData || window.clipboardData).getData('Text');
    if (/[^\d.$]/gi.test(char)) {
        return false;
    }
}

</script>
<script>

var text = document.getElementById('id_client_maf');
text.onkeypress = text.onpaste = checkInput;

function checkInput(e) {
    var e = e || event;
    var char = e.type == 'keypress' 
        ? String.fromCharCode(e.keyCode || e.which) 
        : (e.clipboardData || window.clipboardData).getData('Text');
    if (/[^\d.$]/gi.test(char)) {
        return false;
    }
}

</script>
<script>

var text = document.getElementById('capital');
text.onkeypress = text.onpaste = checkInput;

function checkInput(e) {
    var e = e || event;
    var char = e.type == 'keypress' 
        ? String.fromCharCode(e.keyCode || e.which) 
        : (e.clipboardData || window.clipboardData).getData('Text');
    if (/[^\d.$]/gi.test(char)) {
        return false;
    }
}

</script>





{% endblock %}