{% extends "base2.html" %}

{% load staticfiles bootstrap %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_client_overlay.css' %}">
    <link rel="icon" type="image/png" href="{% static 'site_images/logo_bw.jpg' %}" sizes="18x16">
{% endblock%}

{% block content %}
<title>VAMPS|Loan Payment Form</title>
  <div id="breads">
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Main Menu</a>
        </li>
        <li>
          <a href="/home/cashier/pay-loan-search/">Search Loan</a>
        </li>
        <li class="active">Pay Form</li>
    </ol>
  </div>
    <div class="small-form" >
        {% if error %}
          <p class="alert alert-danger">
          <i class="fa fa-exclamation triangle fa-lg"></i>{{ error }}</p>
        {% else %}
          <p style="color:green">{{ success }} </p>
        {% endif %}
        <form method="POST" action="" onkeypress="return checkInput(event)" class="no-spinners">
         {% csrf_token %}
         <!-- {{ form|bootstrap }} -->
          <table class="table table-responsive table-condensed table-hover">
            <div class="input-group col-md-12">
              <thead>
                <h3>Pay Form</h3>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label>{{form.reference.label}}</label>
                  </td>
                  <td>
                    <p>{{form.reference}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>{{form.trans_date.label}}</label>
                  </td>
                  <td>
                    <p>{{form.trans_date}}</p>
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    <label>Recieved from ({{form.client.label}})</label>
                  </td>
                  <td>
                    <p>{{form.client}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>, the sum of ({{form.credit_payment.label}})</label>
                  </td>
                  <td>
                    <p>{{form.credit_payment}}</p>
                    <p class="alert alert-warning">
                      <i class="fa fa-exclamation-triangle fa-lg fa-fw"></i>Take caution this is monetary value in Philippine Peso
                    </p>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <p>in partial/full payment for Loan</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>{{form.loan_pay_type.label}}</label>
                  </td>
                  <td>
                    <p>{{form.loan_pay_type}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>{{form.loan_pay_received_by.label}}</label>
                  </td>
                  <td>
                    <p>{{form.loan_pay_received_by}}</p>
                  </td>
                </tr>
              </tbody>
            </div>
          </table>
            <button type="submit" class="btn btn-info click">
                <i class="fa fa-check-square fa-lg"></i>
                Pay Loan
            </button>
        </form>
      </div>

<script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
  var text = document.getElementById('id_loan_pay_amount_credit');
  text.onkeypress = text.onpaste = checkInput;

  function checkInput(e) {
    var e = e || event;
    var char = e.type == 'keypress' ? String.fromCharCode(e.keyCode || e.which) 
    : (e.clipboardData || window.clipboardData).getData('Text');
    if (/[^\d.$]/gi.test(char)) {
      return false;
    }
  }
</script>
<script type="text/javascript">
  // Demo using plain javascript
  var button = document.getElementById("id_client");
  var clickBtn = document.getElementsByClassName('click')[0];

  // Disable the button on initial page load
  button.disabled = true;

  //add event listener
  clickBtn.addEventListener('click', function(event) {
      button.disabled = !button.disabled;
  });

  button.addEventListener('click', function(event) {
      alert('Enabled!');
  });
</script>
<script type="text/javascript">

  // text.onkeypress = text.onpaste = checkLength;

  function checkLength(){
    var fieldLength = document.getElementById('id_loan_pay_amount_credit').value.length;
    if(fieldLength <= 6){
      return true;
    }
    else{
      var str = document.getElementById('id_loan_pay_amount_credit').value;
      str = str.substring(0, str.length - 1);
      document.getElementById('id_loan_pay_amount_credit').value = str;
    }
  }
</script>

{% endblock %}