{% extends "base2.html" %}

{% load staticfiles bootstrap %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_client_overlay.css' %}">
    <link rel="icon" type="image/png" href="{% static 'site_images/logo_bw.jpg' %}" sizes="18x16">
{% endblock%}

{% block content %}
<title>VAMPS|ODF Contribution Form</title>
  <div id="breads">
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Main Menu</a>
        </li>
        <li>Invoice</li>
        <li>
          <a href="/home/cashier/pay-odf-search/">Search Client</a>
        </li>
        <li class="active">Contribution Form</li>
    </ol>
  </div>
    <div class="small-form" >
        {% if error %}
          <p class="alert alert-danger">
          <i class="fa fa-exclamation triangle fa-lg"></i>{{ error }}</p>
        {% else %}
          <p style="color:green">{{ success }} </p>
        {% endif %}
        <form method="POST" action="" onkeypress="return checkInput(event)" class="no-spinners">
         {% csrf_token %}
         <!-- {{ form|bootstrap }} -->
          <table class="table table-responsive table-condensed table-hover">
            <div class="input-group col-md-12">
              <thead>
                <h3>ODF Contribution Form</h3>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label>{{form.odf_client.label}}</label>
                  </td>
                  <td>
                    <p>{{form.odf_client}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>{{form.odf_contrib_date.label}}</label>
                  </td>
                  <td>
                    <p>{{form.odf_contrib_date}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>{{form.odf_credit.label}}</label>
                  </td>
                  <td>
                    <p>{{form.odf_credit}}</p>
                    <p class="alert alert-warning">
                      <i class="fa fa-exclamation-triangle fa-lg fa-fw"></i>Take caution this is monetary value in Philippine Peso
                    </p>
                  </td>
                </tr>
                <!-- <tr>
                  <td>
                    <label>{{form.pay_type.label}}</label>
                  </td>
                  <td>
                    <p>{{form.pay_type}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>{{form.pay_for.label}}</label>
                  </td>
                  <td>
                    <p>{{form.pay_for}}</p>
                  </td>
                </tr> -->
              </tbody>
            </div>
          </table>
            <button type="submit" class="btn btn-info">
                <i class="fa fa-check-square fa-lg"></i>
                Contribute
            </button>
        </form>
      </div>

<script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>

var text = document.getElementById('id_odf_credit');
text.onkeypress = text.onpaste = checkInput;

function checkInput(e) {
    var e = e || event;
    var char = e.type == 'keypress' 
        ? String.fromCharCode(e.keyCode || e.which) 
        : (e.clipboardData || window.clipboardData).getData('Text');
    if (/[^\d.$]/gi.test(char)) {
        return false;
    }
}
</script>

<script type="text/javascript">
    function goBack(){
        window.history.back();
    }
</script>

<script type="text/javascript">
    text.onkeypress = text.onpaste = checkLength;

    function checkLength(){
        var fieldLength = document.getElementById('id_odf_credit').value.length;
        if(fieldLength <= 6){
            return true;
        }
        else{
            var str = document.getElementById('id_odf_credit').value;
            str = str.substring(0, str.length - 1);
            document.getElementById('id_odf_credit').value = str;
        }
    }
</script>

{% endblock %}