{% extends "base2.html" %}

{% load static from staticfiles %}
{% block title %} VAMPS|Log In {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_client_overlay.css' %}">
    <link rel="icon" type="image/png" href="{% static 'site_images/logo_bw.jpg' %}" sizes="18x16">
{% endblock%}

{% block content %}
<title>VAMPS|View Clients</title>
<div id="breads">
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Main Menu</a>
        </li>
        <li>Client Services</li>
        <li class="active">
          Client Search
        </li>
    </ol>
</div>

  {% if user.is_authenticated %}  
    
      <div class="form">
        <h3> Search Client</h3>
        <br>
        <table class="table">
          <form action="/profile-lists/" method="POST">
            {% csrf_token %}
          <div class="input-group col-md-12">
          <input type="text" class="search-query form-control" placeholder="Search via Last Name" name="search" autofocus />
            <span class="input-group-btn">
              <button class="btn btn-danger" type="submit" value="Search" id="search-button">
                <span class=" glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
          {% if object_list == None %}
          {% else %}
          <thead>
            <tr>
              <th>Search Results</th>
            </tr>
          </thead>
          <tbody>
            {% for items in object_list %}
            <tr>
              <td>{{items}}</td>
              <td>
                <a href="\client-profile\{{items.cust_number}}" class="btn btn-info">
                  <i class="fa fa-chevron-circle-right fa-lg fa-fw"></i>
                  View Profile
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td>Search returned nothing</td>
            </tr>
            {% endfor %}
          </tbody>
          {% endif %}
          </form>
        </table>
      </div>
    

    
  {% else %}
    <p>CANNOT DISPLAY LIST OF USERS. YOU MUST LOGIN FIRST! </p>
    <a href="{% url '/' %}" class="btn btn-primary">
      <i class="fa fa-sign-in fa-lg">
        Login
      </i>
    </a>
  {% endif %}
{% endblock %}